<div>
    <img src="http://www.participaentueducacion.org.py/static/img/email_banner.jpg" alt="Participa en tu Educacion" width="650" style="display:block">
    <br><br>
    Hola {{ parent_author }},
    <br><br>
    Tu {{ type_content }} ha recibido un nuevo comentario de {{ author }}, puedes acceder al mismo <a href="{{ link }}">aqu&iacute;</a>.
    <br><br>
    Saludos,
    <br><br>
    El equipo de <a href="http://www.participaentueducacion.org.py">Participa en tu Educaci&oacute;n.</a>
</div>
