<div>
    <img src="http://ec2-52-32-122-242.us-west-2.compute.amazonaws.com:8000/static/img/email_banner.jpg" alt width="650" style="display:block">
    <br><br>
    Hola {{ parent_author }},
    <br><br>
    Tu {{ type_content }} ha recibido un nuevo comentario de {{ author }}, puedes acceder al mismo <a href="{{ link }}">aqu&iacute;</a>.
    <br><br>
    Saludos,
    <br><br>
    El equipo de <a href="http://ec2-52-32-122-242.us-west-2.compute.amazonaws.com:8000">Participa en tu Educaci&oacute;n.</a>
</div>
