<div>
    <img src="http://www.participaentueducacion.org.py/static/img/email_banner.jpg" alt width="650" style="display:block">
    <br><br>
    Muchas gracias {{ author }} por tu contribuci&oacute;n! 
    <br><br>
    Tu publicaci&oacute;n ha sido replicada en <a href="{{ url }}">{{ url_name }}</a>. Puedes ver tu {{ type_content }} <a href="{{ pub_url }} ">aqu&iacute;.</a>
    <br><br>
    Saludos.
    <br><br>
    El equipo de <a href="http://www.participaentueducacion.org.py">Participa en tu Educaci&oacute;n.</a>
</div>
