<div>
    <img src="http://ec2-52-32-122-242.us-west-2.compute.amazonaws.com:8000/static/img/email_banner.jpg" alt width="650" style="display:block">
    <br><br>
    Hola {{ user }},
    <br><br>
    Quer&iacute;amos comentarte que la tem&aacute;tica "{{ campaign }}" ha sido agregada.
    <br><br> 
    <ul>
      <li>Para crear tus ideas desde el <a href="{{ group_url }}">Grupo de Facebook</a> debes usar el hashtag #{{ hashtag }}. </li>
      <li>Para crear tus ideas desde IdeaScale puedes acceder <a href="{{ initiative_url }}">aqu&iacute;</a>. </li>
    </ul>
    <br><br>
    Saludos,
    <br><br>
    El equipo de <a href="http://ec2-52-32-122-242.us-west-2.compute.amazonaws.com:8000">Participa en tu Educaci&oacute;n.</a>
</div>
