<div>
    <img src="http://www.participaentueducacion.org.py/static/img/email_banner.jpg" alt="Participa en tu Educación" width="650" style="display:block">
    <br><br>
    Hola {{ author }},
    <br><br>
    Gracias por unirte a la iniciativa Participa en tu Educaci&oacute;n, estamos seguros que tus opiniones ser&aacute;n muy valiosas para ir delineando ideas que apunten a mejorar nuestra educaci&oacute;n.
    <br><br>
    Esta iniciativa es parte de una investigaci&oacute;n que estamos desarrollando en la Universidad Cat&oacute;lica y quisi&eacute;ramos pedirte que nos ayudes con nuestro proyecto completando una encuesta que no te llevar&aacute; m&aacute;s de 5 minutos hacerlo.
    <br><br>
    <h2 style="text-align: center;">
        <a href="https://goo.gl/forms/E8VQ35QecmQdhs133">Ir a la encuesta</a>
    </h2>
    <br><br>
    Cualquier consulta no dudes en escribirnos a este correo.
    <br><br>
    Desde ya muchas gracias,
    <br><br>
    Saludos.
    <br><br>
    El equipo de <a href="http://www.participaentueducacion.org.py">Participa en tu Educaci&oacute;n.</a>
</div>
