{% extends 'app/base.html' %}

{% load i18n %}

{% block script %}


{% endblock %}



{% block main %}
<!-- Nav -->
   <nav id="nav">
       <ul class="container" style="max-width: none;">
         <!-- <li><a href="#descripcion">Descripción</a></li> -->
          <li><a href="#tematicas">Temáticas</a></li>
          <li><a href="#ideas_populares">Ideas Populares</a></li>
          <li><a href="#ideas_recientes">Ideas Recientes</a></li>
          <li><a href="#organizan">Organizadores</a></li>
       </ul>
   </nav>

<!-- Home -->
   <div class="wrapper style1 first" >
       <article class="container" id="descripcion" style="max-width: none;">
               <div class="row">
                   <div class="12u 12u(mobile)">
                       <header>
                          <h1> <strong> Participa en tu Educación </strong></h1>
                          <p>Participa en tu educación es un espacio que promueve la participación ciudadana en la búsqueda colectiva de soluciones a problemas urgentes de nuestra educación paraguaya</p>
                       </header>
                   </div>
               </div>
               <div class="row">
                    <div class="12u 12u(mobile)">
                        <a href="/app/register_v1" class="button big scrolly">Unirme</a>
                    </div>
               </div>
<!--
               <div class="row">
                    <div class="8u 12u(mobile)">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet non massa id vestibulum. Proin dui mauris, fringilla eget erat a, tempus sodales augue. Mauris nec leo vel nisl scelerisque laoreet nec quis ligula. Vivamus est elit, hendrerit et tincidunt sit amet, dignissim a tortor. Pellentesque dignissim diam velit, at maximus odio dictum quis. Suspendisse cursus leo sit amet velit malesuada, non efficitur nisl ultrices. Donec malesuada euismod accumsan. Vestibulum posuere interdum magna, et rhoncus urna efficitur nec. Fusce venenatis, urna ac malesuada laoreet, ante neque sagittis massa, eget efficitur tortor nibh eu ante. Aliquam quis metus et purus sodales tincidunt tincidunt at nunc. Suspendisse potenti.</p>
                        <a href="/app/register_v1" class="button big scrolly">Ingresar</a>
                    </div>
                    <div class="4u 12u(mobile)">
                        <span class="image fit"><img src="/static/img/pic00.jpg" alt="" /></span>
                    </div>
               </div> -->
       </article>
   </div>

<!-- Work -->
   <div class="wrapper style2">
       <article id="tematicas">
                <header>
                   <h2>Temáticas en discusión</h2>
                </header>
                <div class="container" style="max-width: none;">
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <section class="box style1"style="height: 550px">
                                    <span class="icon featured fa-institution"></span>
                                    <h3>Infraestructura Educativa</h3>
                                    <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                            </section>
                       </div>
                       <div class="4u 12u(mobile)">
                           <section class="box style1"style="height: 550px">
                                   <span class="icon featured fa-graduation-cap"></span>
                                   <h3>Formación Docente</h3>
                                   <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                           </section>
                       </div>
                       <div class="4u 12u(mobile)">
                           <section class="box style1"style="height: 550px">
                                   <span class="icon featured fa-user-plus"></span>
                                   <h3>Asistencia Escolar</h3>
                                   <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                           </section>
                       </div>
                    </div>
                </div>
<!-- 					<footer>
						<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
						<a href="#ideas_populares" class="button big scrolly">See some of my recent work</a>
					</footer> -->
      </article>
  </div>

<!-- Portfolio -->
  <div class="wrapper style3">
      <article id="ideas_populares">
              <header>
                 <h2>Ideas Populares</h2>
                 <!-- <p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p> -->
              </header>
              <div class="container" style="max-width: none;">
                  <div class="row">
                      {% for idea in top %}
                         <div class="4u 12u(mobile)">
                             <article class="box style2" style="height: 350px">
                                  <div>
                                     <h3><a href={{idea.url}}  style="color: #3ba8d3;">{{idea.title}}</a></h3>
                                     <p style="text-align: left;">
                                        <strong> {{idea.author}} </strong>  <br>
                                        {{idea.text}}
                                     </p>
                                  </div>
                                  <footer>
                                     <span style="color: #3ba8d3;">
                                          <i class="fa fa-thumbs-up"> {{idea.positive_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-thumbs-down"> {{idea.negative_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-comment"> {{idea.comments}} </i>
                                     </span>
                                  </footer>
                             </article>
                         </div>
                      {% endfor %}
                  </div>
              </div>
      </article>
  </div>

<!-- Ideas Recientes -->

  <div class="wrapper style2">
      <article id="ideas_recientes">
              <header>
                 <h2>Ideas Recientes</h2>
                 <!-- <p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p> -->
              </header>
              <div class="container" style="max-width: none;">			
                  <div class="row">
                      {% for idea in recent %}
                         <div class="4u 12u(mobile)">
                             <article class="box style2" style="height: 350px">
                                     <h3><a href={{idea.url}} style="color: #3ba8d3;">{{idea.title}}</a></h3>
                                     <p style="text-align: left;">
                                        <strong> {{idea.author}} </strong>  <br>
                                        {{idea.text}}
                                     </p>
                                     <footer>
                                     <span style="color: #3ba8d3;">
                                          <i class="fa fa-thumbs-up"> {{idea.positive_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-thumbs-down"> {{idea.negative_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-comment"> {{idea.comments}} </i>
                                     </span>
                                  </footer>
                             </article>
                         </div>
                      {% endfor %}

                  </div>
              </div>
      </article>
  </div>

  <div class="wrapper style5">
      <article class="container" id="organizan" style="max-width: none;">
             <div class="row">
                 <div class="12u 12u(mobile)">
                     <header>
                        <h2>Organizadores</h2>
                     </header>
                 </div>
             </div>
             <div class="row">
                 <div class="4u 12u(mobile)">
                     <span class="logo">
                          <a href="http://www.conacyt.gov.py" target="_blank">
                            <img src="/static/img/conacyt.jpg" alt="" style="filter: gray; /* IE6-9 */ filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */" />
                          </a>
                     </span>
                 </div>
                 <div class="4u 12u(mobile)">
	             <span class="logo">
                          <a href="http://www.universidadcatolica.edu.py/" target="_blank">
                            <img src="/static/img/u_uca.jpg" alt=""  style="filter: gray; /* IE6-9 */ filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */"/>
                          </a>
                     </span>
                 </div>
                 <div class="4u 12u(mobile)">
                     <span class="logo">
                          <a href="http://www.unitn.it/en" target="_blank">
                            <img src="/static/img/u_trento.jpg" alt=""  style="filter: gray; /* IE6-9 */ filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */"/>
                          </a>
                     </span>
                 </div>
             </div>
      </article>
  </div>

  <div class="wrapper style4" style="padding: 1em 5em 1em 5em; text-align: center; font-size: 70%;line-height: 1.1;">
          <div>
              <p style="margin-bottom:1em;">Participa en tu Educación es una iniciativa del <a href="http://www.dei.uc.edu.py/proyectos/participa/" target="_blank">Proyecto Participa</a> financiado por el Consejo Nacional de Ciencia y Tecnología de Paraguay (CONACYT).</p>
              <p style="margin-bottom:1em;">Los comentarios en el sitio son responsabilidad exclusiva de los participantes y no representan la opinión de la instituciones organizadoras de la iniciativa.
              </p>
          </div>
  </div>
{% endblock %}

