{% extends 'app/base.html' %}

{% load i18n %}

{% block script %}
<title>Participa en tu Educación</title>

<script type="text/javascript">
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){}
   });
}
</script>

<script type="text/javascript">
    $(document).ready(function() {
    // Show or hide the sticky footer button
	$(window).scroll(function() {
	   if ($(this).scrollTop() > 500) {
	       $('.generate-back-to-top').fadeIn(500);
	   } else {
	       $('.generate-back-to-top').fadeOut(500);
	   }
	});
		
	// Animate the scroll to top
	$('.generate-back-to-top').click(function(event) {
	   event.preventDefault();
				
	   $('html, body').animate({scrollTop: 0}, 300);
	})
    });
</script>

<script type="text/javascript">
  $(document).ready( function() {
    /*document.getElementById('id_birthdate').style.display = 'none'
    document.getElementById('id_sex').style.display = 'none'
    document.getElementById('id_city').style.display = 'none'
    document.getElementById('id_profession').style.display = 'none'
    document.getElementById('id_label_birthdate').style.display = 'none'
    document.getElementById('id_label_sex').style.display = 'none'
    document.getElementById('id_label_city').style.display = 'none'
    document.getElementById('id_label_profession').style.display = 'none'*/
    document.getElementById('id_row_birthdate').style.display = 'none'
    document.getElementById('id_row_sex').style.display = 'none'
    document.getElementById('id_row_city').style.display = 'none'
    document.getElementById('id_row_profession').style.display = 'none'
  } );
  </script>   
</script> 

<script type="text/javascript">
  $( function() {
    $( "#id_birthdate" ).datepicker();
  } );
  </script>   
</script> 
   <script type="text/javascript">
        function getQueryVariable(variable) {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if (pair[0] == variable) {
                return pair[1];
               }
           } 
           //alert('Query Variable ' + variable + ' not found');
           return "False";
       }
       function showFormFields() {
           var platform = document.getElementById('id_platform');
           $("#id_platform option[value='']").remove();
           if(platform.value == 'Facebook'){
               /*document.getElementById('id_birthdate').style.display = 'block'
               document.getElementById('id_sex').style.display = 'block'
               document.getElementById('id_city').style.display = 'block'
               document.getElementById('id_label_birthdate').style.display = 'block'
               document.getElementById('id_label_sex').style.display = 'block'
               document.getElementById('id_label_city').style.display = 'block'*/
               document.getElementById('id_row_birthdate').style.display = 'block'
               document.getElementById('id_row_sex').style.display = 'block'
               document.getElementById('id_row_city').style.display = 'block'
           } else {
               /*document.getElementById('id_birthdate').style.display = 'none'
               document.getElementById('id_sex').style.display = 'none'
               document.getElementById('id_city').style.display = 'none'
               document.getElementById('id_label_birthdate').style.display = 'none'
               document.getElementById('id_label_sex').style.display = 'none'
               document.getElementById('id_label_city').style.display = 'none'*/
               document.getElementById('id_row_birthdate').style.display = 'none'
               document.getElementById('id_row_sex').style.display = 'none'
               document.getElementById('id_row_city').style.display = 'none'

          }
       }     

       function validateForm()
       {
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            var platform = document.getElementById('id_platform').value;
            var profession = document.getElementById('id_profession').value;
            
            if(platform == 'Facebook'){
                if (first_name==null || first_name=="" || last_name==null || last_name=="" || birthdate.length!=10 || birthdate=="" || email==null || email=="" || sex=="" || city==""){
                    alert("Por favor complete todos los campos necesarios");
                    //document.getElementById("register_btn").href="#RegisterForm";
                    return false;
                } else {
                    startConnect('{{ initiative_url }}'); return false;
                }
            } else {
                if (first_name==null || first_name=="" || last_name==null || last_name=="" || email==null || email==""){
                    alert("Por favor complete todos los campos necesarios");
                    //document.getElementById("register_btn").href="#RegisterForm";
                    return false;
                } else {
                    IS_login('{{ initiative_url }}'); return false;
                }
            }
             

       };

        function prepareRegister(initiative_url){
            //document.getElementById('RegisterForm').submit();
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            console.log(email);
            startConnect(initiative_url);

        };
        function startConnect(initiative_url)
            {
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            var profession = document.getElementById('id_profession').value;

            FB.login(function(response) {
                if (response.authResponse) {
                var next_url = window.location.origin +  window.location.pathname;
                next_url = next_url.substring(0,next_url.lastIndexOf("/"));    
                window.location = next_url + '/login_fb' +
                            '?access_token=' + response.authResponse.accessToken +
                            '&expires=' + response.authResponse.expiresIn +
                            '&signed_request=' + response.authResponse.signedRequest +
                            '&user_id=' + response.authResponse.userID +
                            '&initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            '&birthdate=' + birthdate +
                            '&sex=' + sex +
                            '&email=' + email +
                            '&city=' + city
                            '&profession=' + profession;
                } else {
                    checkStatusCallback(response);
                }
            }, {scope: 'public_profile,email,user_friends', show_faces :true})
        };
        function IS_login(initiative_url){
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            //var birthdate = document.getElementById('id_birthdate').value;
            //var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            //var city = document.getElementById('id_city').value;

            var next_url = window.location.origin +  window.location.pathname;
            next_url = next_url.substring(0,next_url.lastIndexOf("/"));    
            window.location = next_url + '/login_IS' +
                            '?initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            //'&birthdate=' + birthdate +
                            //'&sex=' + sex +
                            '&email=' + email; //+
                            //'&city=' + city;
        };
        function askWritingPermissions(initiative_url) {
            //$('#writingPermissionModal').modal('hide');
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            var profession = document.getElementById('id_profession').value;

            FB.login(function(response) {
                console.log(initiative_url);
                if (response.authResponse) {
                   // var next_url = window.location.origin +  window.location.pathname;
                   var next_url = window.location.origin +  window.location.pathname;
                   next_url = next_url.substring(0,next_url.lastIndexOf("/")); 
                   window.location = next_url + '/write_permissions_fb' +
                            '?access_token=' + response.authResponse.accessToken +
                            '&expires=' + response.authResponse.expiresIn +
                            '&signed_request=' + response.authResponse.signedRequest +
                            '&user_id=' + response.authResponse.userID +
                            '&initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            '&birthdate=' + birthdate +
                            '&sex=' + sex +
                            '&email=' + email +
                            '&city=' + city
                            '&profession=' + profession;

                } else {
                    checkStatusCallback(response);
                }
            }, {scope: 'publish_actions'})
        };
        function checkStatusCallback(response) {
            if (response.status === 'connected') {
                var next_url = window.location.origin +  window.location.pathname;
                //next_url = next_url.substring(0,next_url.lastIndexOf("/"));   
                $.ajax({
                    url: next_url + 'check_user' + '?user_id=' + response.authResponse.userID + '&initiative_url=' + initiative_url,
                    success: function(result) {
                        if (result) {
                            document.getElementById('status').className = 'alert alert-info';
                            document.getElementById('status').style.display = 'block';
                            document.getElementById('status').innerHTML = result;
                        } else {
                            document.getElementById('status').style.display = 'none';
                        }
                    }
                });
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').style.display = 'none';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').style.display = 'none';
            }
        }
    </script>

{% endblock %}



{% block main %}


<!-- Nav -->
   <nav id="nav">
       <ul class="container" style="max-width: none;">
          <li><a href="http://www.dei.uc.edu.py/proyectos/participa/" target="_blank" style="color:#43B3E7;" onclick="trackOutboundLink('Proyecto Participa');">Proyecto Participa</a></li>
          <li><a href="#tematicas" onclick="trackOutboundLink('#tematicas');">Temáticas</a></li>
          <li><a href="#ideas_populares" onclick="trackOutboundLink('#ideas_populares');">Ideas Más Votadas</a></li>
          <li><a href="#ideas_recientes" onclick="trackOutboundLink('#ideas_recientes');">Ideas Recientes</a></li>
          <li><a href="#organizan" onclick="trackOutboundLink('#organizan');">Organizadores</a></li>
          <li><a href="#contacto" onclick="trackOutboundLink('#contacto');">Contacto</a></li>
       </ul>
   </nav>

<!-- Home -->
   <div class="wrapper style1 first" >

       <article class="container" id="descripcion" style="max-width: none;">
             <a href="#canales" class="button small" style="display:inline; float:right; background-color:#1A5F9D;">Ir al Foro</a>
             <div class="row">
                 <div class="12u">
                     <img src="/static/img/logo.png" style="width: 50%; min-width: 250px;">
                 </div>
             </div>
             <div class="row">
                 <div class="12u 12u(mobile)">
                     <header>
                          <!-- <h1> <strong> Participa en tu Educación </strong></h1>-->
                          <h3 style="color: #fff; margin-bottom: 0px;">
                           Hoy nuestra educación en Paraguay sufre de estos problemas
                          </h3>
                     </header>
                   </div>
               </div>
<!--
               <div class="row">
                    <div class="12u 12u(mobile)">
                        <a href="#canales" class="button big">Ver Ideas</a>
                    </div>
               </div>
-->

       </article>
   </div>

<!-- Infografias -->
<div class="container" style="max-width: none; margin-top: -12%;">

                    <div class="row">
                        <div class="4u 12u(mobile)">
<!--                            <p style="color: #fff; text-align: center;">Infraestructura Escolar en Emergencia</p> -->
                            <a href="http://www.abc.com.py/edicion-impresa/locales/carencias-en-infraestructura-escolar-1457138.html" 
                               title="Infraestructura Educativa" target= "_blank" >
                              <img src="/static/img/infraestructura_02.jpg" alt="Infraestructura Escolar en emergencia" style="height: 80%; width: 100%;">
                            </a>
                        </div>                    
             
                        <div class="4u 12u(mobile)">
                            <a href="http://www.paraguay.com/nacionales/53-reprueba-examen-del-mec-140334" 
                               title="Formación Docente" target= "_blank">
                              <img src="/static/img/formacion_03.jpg" alt="Poca formación docente "style="height: 80%; width: 100%;" >
                            </a>
                        </div>                       
                  
                        <div class="4u 12u(mobile)">
                            <a href="http://www.abc.com.py/nacionales/escasos-numeros-de-alumnos-en-las-escuelas-1340206.html" 
                               title="Asistencia Escolar" target= "_blank">
                              <img src="/static/img/asistencia_02.jpg" alt="Baja asistencia escolar" style="height: 80%; width: 100%;" >
                            </a>
                        </div>                       
                    </div>
</div>

<!-- Frase -->
   <div class="wrapper style2">
      <article id="infografias">
                <div class="container" style="max-width: none;">

                    <div class="row" style="display: flex; justify-content: center;">                    
                        <div class="6u 12u(mobile)">
                            <blockquote style="border-left-color: #1a5f9d;">
                              <h4>La educación no cambia el mundo. Cambia a las personas que van a cambiar el mundo </h4>
                              <footer>Paulo Freire</footer>
                            </blockquote>
                        <div> 
                    </div>

                    <div class="row">    
                        <div class="12u 12u(mobile)">
                            <br>
                            <strong><p style="text-align: center;">
                               Sumate a las más de 60 personas que ya están contribuyendo a construir una educación de calidad
                            </p></strong>
                        <div> 
                    </div>
                </div>
      </article>   
   </div>

<!-- Como -->
   <div class="wrapper style2">
       <article id="como">
                <header>
                   <h2>¿Cómo puedo participar?</h2>
                </header>
                             
                <div class="container" style="max-width: none;">
                    <div class="row">
                        <div class="12u">
                            <div class="youtubevideowrap">
                                <div class="video-container">
                                    <iframe width="50%" height="400" src="https://www.youtube.com/embed/nIrYT5VB9C8?cc_lang_pref=en&cc_load_policy=1" 
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="12u">
                           <p style="font-size: 0.8em;">Video hecho con biteable.com</p>
                        </div>  
                    </div>
      </article>
  </div>

    <!-- Registro -->
      <div class="wrapper style3">
        <article id="registro" class="container 75%">
          <!--<h3> ¿Ya tienes una cuenta? </h3>
          <div>
              <div class="row">
                  <div class="12u">
                          <a class="btn btn-lg btn-primary" href="{{fb_group_url }}" target="_blank"
                             style="margin-top: 10px; border-right: 10px; width:260px" >
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/fb_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp; Ir al Grupo en FB
                          </a>

                         <a class="btn btn-lg btn-primary" href="{{ initiative_url }}" target="_blank" style="margin-top: 10px; width: 260px;" >
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/is_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp; Ir al foro (IdeaScale)
                         </a>
                  </div>
              </div>
          </div>
          <br><br>
          -->
          <header>
            <h2>Formulario de Registro</h2>
            <span class="label label-primary" style="text-shadow: none;">Todos los campos son obligatorios</span>
          </header>
          <div>
              <div class="row">
              <div class="12u">
                <form method="post" action="process_login" method="post" id="RegisterForm">
                  {% csrf_token %}
                  <div>

                    {% for field in form %}
                       {% if field.name == "platform" %}
                       <div class="row">
                           <div class="12u 12u(mobile)">
                             <span class="label label-primary" style="text-shadow: none; white-space: normal;">
                                  La plataforma funciona tanto en Facebook como en un sitio web propio (IdeaScale). Elegí el que prefieras
                             </span>
                           </div>
                       </div>
                       {% endif %}
                       <div class="row" id='id_row_{{ field.name }}'>
                          <div class="4u 12u(mobile)">
                              <label style="text-align: left; padding-top: 0.8em;" id='id_label_{{ field.name }}'>{{ field.label }}</label>
                          </div>
                          <div class="8u 12u(mobile)">
                              {% if field.label == "Fecha de Nacimiento" %}
                                 <input id="id_birthdate" name="birthdate" type="date" class="birthdate" placeholder="dd/mm/aaaa" style="">
                              {% else  %}
                                 {{ field }}
                              {% endif %}
                          </div>
                       </div>
                    {% endfor %}


                    <div class="row">
                          <div class="12u">
                              <a class="button" id="register_btn" onclick="trackOutboundLink('Registrarme'); validateForm();" >Registrarme</a>
                          </div>
<!--
                          <div class="6u">
                              <a class="button" id="cancel_btn" href="/" style="width: 100%; margin-left: 0px; margin-right: 0px;" >Cancelar</a>
                          </div>
-->
                    </div>
                  </div>
                </form>
               </div>
              </div>
            </div>
        </article>
      </div>


<!-- Tematica -->
   <div class="wrapper style2">
       <article id="tematicas">
                <header>
                   <h2>Temáticas en discusión</h2>
                </header>
                <div class="container" style="max-width: none;">
                    <div class="row">
                         <div class="12u 12u(mobile)">
                             <h4>Estos son los puntos de nuestra Educación que buscamos mejorar con tu ayuda </h4>
                         </div>
                    </div>
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <section class="box style1" style="max-height: 480px">
                                    <span class="icon featured fa-institution"></span>
                                    <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52137" 
                                       target="_blank" style="color: #3ba8d3;" onclick="trackOutboundLink('Infraestructura educativa');">
                                        <h3>Infraestructura Educativa</h3>
                                    </a>
                                    <p>
                                      Una buena educación necesita un buen espacio físico. ¿Cómo mejoramos la infraestructura educativa?
                                    </p>
                                    <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52137" 
                                       target="_blank" onclick="trackOutboundLink('Infraestuctura educativa.');">
                                       Ver más 
                                    </a>
                            </section>
                       </div>
                       <div class="4u 12u(mobile)">
                           <section class="box style1" style="max-height: 480px">
                                   <span class="icon featured fa-graduation-cap"></span>
                                   <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52139" 
                                      target="_blank" style="color: #3ba8d3;" onclick="trackOutboundLink('Formacion docente');">
                                      <h3>Formación <br> Docente</h3>
                                   </a>
                                   <p>
                                    El que enseña también debe aprender permanentemente. ¿Cómo mantenemos a los docentes bien formados y actualizados?
                                   </p>
                                   <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52139" 
                                      target="_blank" onclick="trackOutboundLink('Formacion docente');">
                                      Ver más 
                                   </a>
                           </section>
                       </div>
                       <div class="4u 12u(mobile)">
                           <section class="box style1" style="max-height: 480px">
                                   <span class="icon featured fa-user-plus"></span>
                                   <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52138" 
                                      target="_blank" style="color: #3ba8d3;" onclick="trackOutboundLink('Asistencia escolar');">
                                      <h3>Asistencia <br>  Escolar</h3>
                                   </a>
                                   <p>
                                    La asistencia a clases va más allá de una lista de control de asistencia. ¿Cómo motivamos a niños y jóvenes a ir a clases?
                                   </p>
                                   <a href="http://participaentueducacion.ideascale.com/a/ideas/recent/campaign-filter/byids/campaigns/52138" 
                                      target="_blank" onclick="trackOutboundLink('Asistencia escolar');">
                                      Ver más 
                                   </a>
                           </section>
                       </div>
                    </div>
                </div>
      </article>
  </div>


<!-- Populares -->
  <div class="wrapper style3">
      <article id="ideas_populares">
              <header>
                 <h2>Ideas Más Votadas</h2>
                 <!-- <p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p> -->
              </header>
              <div class="container" style="max-width: none;">
                  <div class="row">
                      {% for idea in top %}
                         <div class="4u 12u(mobile)">
                             <article class="box style2" style="height: 500px">
                                  <div>
                                     <h3><a href={{idea.url}}  style="color: #3ba8d3;" onclick="trackOutboundLink('Idea popular');">{{idea.title}}</a></h3>
                                     <p style="text-align: left;">
                                        <strong> {{idea.author}} </strong>  <br>
                                        {{idea.text}}
                                     </p>
                                  </div>
                                  <footer>
                                     <span style="color: #3ba8d3;">
                                          <i class="fa fa-thumbs-up"> {{idea.positive_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-thumbs-down"> {{idea.negative_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-comment"> {{idea.comments}} </i>
                                     </span>
                                  </footer>
                             </article>
                         </div>
                      {% endfor %}
                  </div>
              </div>
      </article>
  </div>

<!-- Recientes -->
  <div class="wrapper style2">
      <article id="ideas_recientes">
              <header>
                 <h2>Ideas Recientes</h2>
                 <!-- <p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p> -->
              </header>
              <div class="container" style="max-width: none;">			
                  <div class="row">
                      {% for idea in recent %}
                         <div class="4u 12u(mobile)">
                             <article class="box style2" style="height: 500px">
                                     <h3><a href={{idea.url}} style="color: #3ba8d3;" onclick="trackOutboundLink('Idea reciente');">{{idea.title}}</a></h3>
                                     <p style="text-align: left;">
                                        <strong> {{idea.author}} </strong>  <br>
                                        {{idea.text}}
                                     </p>
                                     <footer>
                                     <span style="color: #3ba8d3;">
                                          <i class="fa fa-thumbs-up"> {{idea.positive_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-thumbs-down"> {{idea.negative_votes}} &nbsp; &nbsp; </i>
                                          <i class="fa fa-comment"> {{idea.comments}} </i>
                                     </span>
                                  </footer>
                             </article>
                         </div>
                      {% endfor %}

                  </div>
              </div>
      </article>
  </div>

<!-- Organizan -->
  <div class="wrapper style5">
      <article class="container" id="organizan" style="max-width: none;">
             <div class="row">
                 <div class="12u 12u(mobile)">
                     <header>
                        <h2>Organizadores</h2>
                     </header>
                 </div>
             </div>
             <div class="row">
                 <!--
                 <div class="3u 12u(mobile)">
                     <span>
                          <a href="http://www.conacyt.gov.py" target="_blank">
                            <img src="/static/img/conacyt.jpg" alt="" class="logo">
                          </a>
                     </span>
                 </div>
                 -->
                 <div class="4u 12u(mobile)">
	             <span>
                          <a href="http://www.universidadcatolica.edu.py/" target="_blank" onclick="trackOutboundLink('http://www.universidadcatolica.edu.py/');">
                            <img src="/static/img/u_uca.jpg" alt="" class="logo">
                          </a>
                     </span>
                 </div>

                 <div class="4u 12u(mobile)">
                     <span>
                          <a href="http://www.dei.uc.edu.py/" target="_blank" onclick="trackOutboundLink('http://www.dei.uc.edu.py/');">
                            <img src="/static/img/dei_logo.jpeg" alt="" class="logo" />
                          </a>
                     </span>
                 </div>


                 <div class="4u 12u(mobile)">
                     <span>
                          <a href="http://www.unitn.it/en" target="_blank" onclick="trackOutboundLink('http://www.unitn.it/en');">
                            <img src="/static/img/unitn.jpg" alt="" class="logo"/>
                          </a>
                     </span>
                 </div>
             </div>
      </article>
  </div>

<!-- Contacto -->
  <div class="wrapper style3">
      <article class="container" id="contacto" style="max-width: none;">
             <div class="row">
                 <div class="12u 12u(mobile)">
                     <header>
                        <h2>Contacto</h2>
                     </header>
                 </div>
             </div>
             <div class="row">
                <div class="4u 12u(mobile)">
  		   <section>
		        <a href="https://www.google.com.py/maps/place/Universidad+Cat%C3%B3lica+Nuestra+Se%C3%B1ora+de+la+Asunci%C3%B3n/@-25.3264224,-57.6382384,15z/data=!4m5!3m4!1s0x0:0xa70c71f9d5efbaa9!8m2!3d-25.3237132!4d-57.6364473?hl=es" target="_blank" onclick="trackOutboundLink('Ubicacion Google Maps');"><span class="icon featured fa-location-arrow" style="cursor: pointer;" ></span></a>
			<p style="font-size: 11pt;">Universidad Católica "Nuestra Señora de la Asunción<br>Campus Universitario. Tte. Cantaluppi y Villalón<br>C.C. 1683. Asunción Paraguay </p>
	           </section>
		</div>
		<div class="4u 12u(mobile)">
 	           <section>
			<span class="icon featured fa-envelope"></span>
		        <p style="font-size: 11pt;">E-mail:<br><a href="mailto:participa@uc.edu.py" class="button" onclick="trackOutboundLink('Enviar Correo');"> participa@uc.edu.py</a></p>			
                   </section>
		</div>
		<div class="4u 12u(mobile)">
 		   <section>
			<span class="icon featured fa-phone"></span>
			<p style="font-size: 10pt;">Campus Universitario UCA:<br>+59521 334 650. Int 101</p>
		   </section>
		</div>
             </div>
      </article>
  </div>

<!-- Footer -->
  <div class="wrapper style4" style="padding: 1em 5em 1em 5em; text-align: center; font-size: 70%;line-height: 1.1;">
      <div>
          <div class="row">
             <div class="12u">	
                 <p style="margin-bottom:1em;">
                    Participa en tu Educación es una iniciativa del <a href="http://www.dei.uc.edu.py/proyectos/participa/" target="_blank" onclick="trackOutboundLink('Proyecto Participa');">Proyecto Participa</a> financiado por el Consejo Nacional de Ciencia y Tecnología de Paraguay (CONACYT).
                 </p>
                 <p style="margin-bottom:1em;">
                    Los comentarios en el sitio son responsabilidad exclusiva de los participantes y no representan la opinión de las instituciones organizadoras de la iniciativa.
                 </p>
            </div>  
         </div>
<!--
         <div class="row">
             <div class="12u">
                <hr />
                <h3>Siguenos en: </h3>
                <ul class="social">
                   <li>
                      <a href="https://www.facebook.com/Participa-En-Tu-Educaci%C3%B3n-318548881813285/" class="icon fa-facebook">
                        <span class="label"> Facebook </span>
                      </a>
                   </li>
                </ul>
             </div>
         </div>
-->
      </div>
  </div>


<div id="infraestructura" class="modalDialog" style="overflow-y: scroll; " >
	<div class="row">
		<div class="12u">
			<a href="#close" title="Close" class="close">X</a>
			<img src="/static/img/infraestructura_01.jpg" style="width:100%; height:100%;">
		</div>
	</div>
</div>

<div id="formacion" class="modalDialog" style="overflow-y: scroll;" >
        <div class="row">
                <div class="12u">
                        <a href="#close" title="Close" class="close">X</a>
                        <img src="/static/img/formacion_01.jpg" style="width:100%; height:100%;">
                </div>
        </div>
</div>

<div id="asistencia" class="modalDialog" style="overflow-y: scroll; " >
        <div class="row">
                <div class="12u">
                        <a href="#close" title="Close" class="close">X</a>
                        <img src="/static/img/asistencia_01.jpg" style="width:100%; height:100%;">
                </div>
        </div>
</div>


<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h4>La plataforma funciona tanto en Facebook como en un sitio web propio (IdeaScale).<br> Elige con cual ingresar</h4>
                    <div class="row 100%">
                      <div class="12u">
                          <a class="btn btn-lg btn-primary" href="javascript:;" style="margin-top: 10px; border-right: 10px; width: 260px;" 
                             role="button" onclick="startConnect('{{ initiative_url }}'); return false;">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/fb_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp;{% trans "Log in Facebook" %}
                          </a>

                         <a class="btn btn-lg btn-primary" href="javascript:;" style="margin-top: 10px; width: 260px"
                             role="button" onclick="IS_login('{{ initiative_url }}'); return false;">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/is_icon.png" class="logo-icon"></img>
                             </span> &nbsp;{% trans "Log in IdeaScale (foro)" %}
                         </a>
                   </div>
              </div>

	</div>
</div>

<div id="canales" class="modalDialog" style="width: auto">
	<div>
		<a href="#close" title="Close" class="close">X</a>
	        <h4> La plataforma funciona tanto en Facebook como en un sitio web propio (IdeaScale).<br>Elegí el que prefieras</h4>
                    <div class="row 100%">
                      <div class="12u">
                          <a class="btn btn-lg btn-primary" href="{{fb_group_url }}" target="_blank"
                             style="margin-top: 10px; border-right: 10px; width:250px" onclick="trackOutboundLink('Ir a Facebook');">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/fb_icon.png" class="logo-icon"></img>
                             </span> &nbsp; Ir a Facebook
                          </a>

                         <a class="btn btn-lg btn-primary" href="{{ initiative_url }}" target="_blank" style="margin-top: 10px; width: 250px;" onclick="trackOutboundLink('Ir a Ideascale');">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/is_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp; Ir a IdeaScale
                         </a>
                   </div>
              </div>

	</div>
</div>

<div id="mailSent" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h3>Gracias por Registrarse!</h3>
                   <p>En breve se le enviará un correo electrónico con un enlace de validación para completar su registro en la Iniciativa de IdeaScale.</p>
                    <div class="row 100%">
                      <div class="12u">
                         <a class="button" href="{{ initiative_url }}" target="_blank">Aceptar</a>
                   </div>
              </div>

	</div>
</div>

<div id="joinFB" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h3>Gracias por Registrarse!</h3>
                   <p>No olvide unirse al grupo de facebook para poder participar.</p>
                    <div class="row 100%">
                      <div class="12u">
                         <a class="button" href="{{ fb_group_url }}" target="_blank">Aceptar
                         </a>
                   </div>
              </div>

	</div>
</div>


<div id="askWRperm" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h3>Gracias por Registrarse!</h3>
                   <p>Queremos solicitar tu permiso para publicar en tu nombre dentro de Facebook SOLAMENTE en el grupo de Participa en tu Educación.</p>
                   <p>No postearemos NUNCA en tu biografía ni en las de tus amigos.</p>
                   <p>Es un paso requerido para utilizar la aplicación. Puedes desactivar los permisos desde la sección Aplicaciones de tu Facebook.</p>
                    <div class="row 100%">
                      <div class="12u">

                         <a class="button" href="javascript:;" onclick="askWritingPermissions('{{ initiative_url }}');">Dar Permisos
                         </a>
                         <a class="button" href="#close">Cancelar
                         </a>

                   </div>
              </div>

	</div>
</div>





<div id="fb-root"></div>
<div class="modal fade" id="writingPermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social Ideation App</h4>
      </div>
      <div class="modal-body">
      {% trans "We are going to publish on your behalf" %} <b>{% trans "ONLY" %}</b> {% trans "inside the Facebook group associated to the initiative" %};
      {% trans "never on your wall nor on your friends' wall" %}.<br><br>
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <b>{% trans "Attention!" %}</b>
            <i>{% trans "Please make sure to select the option 'Public' from the dropdown menu of the following window, so all the members of the group can see your posts" %}.</i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="askWritingPermissions('{{ initiative_url }}'); return false;">{% trans "Ok" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>

<a title="Desplazarce hasta arriba" rel="nofollow" href="#" class="generate-back-to-top" style="" data-scroll-speed="400" data-start-scroll="300"><i class="fa fa-angle-up" aria-hidden="true"></i><span class="screen-reader-text">Desplazarce hasta arriba</span></a>


<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1639456526287470',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });
        FB.getLoginStatus(function(response) {
            checkStatusCallback(response);
        });
        var wr_perm = getQueryVariable("wr_perm");
        if (wr_perm == 'True'){
            askWritingPermissions('{{ initiative_url }}');
        } else {
           console.log("no pido wr perm");
        }
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
                '//connect.facebook.net/es_ES/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
{% endblock %}
