{% extends 'app/base.html' %}

{% load i18n %}

{% block script %}
  <!-- <style>
        div.my-hidden {
            display: none;
        }
        body {
            position: relative;
            padding-top: 80px;
        }
        nav {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style> -->
<script type="text/javascript">
  $( function() {
    $( "#id_birthdate" ).datepicker();
  } );
  </script>   
</script> 
   <script type="text/javascript">
        function getQueryVariable(variable) {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if (pair[0] == variable) {
                return pair[1];
               }
           } 
           //alert('Query Variable ' + variable + ' not found');
           return "False";
      }
       
       function validateForm()
       {
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            if (first_name==null || first_name=="" || last_name==null || last_name=="" || birthdate.length!=10 || birthdate=="" || email==null || email=="")
            {
               alert("Por favor complete todos los campos necesarios");
               document.getElementById("register_btn").href="#RegisterForm";
               return false;
             } else {
               document.getElementById("register_btn").href="#openModal";
               return true;
             }

       };

        function prepareRegister(initiative_url){
            //document.getElementById('RegisterForm').submit();
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;
            console.log(email);
            startConnect(initiative_url);

        };
        function startConnect(initiative_url)
            {
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;

            FB.login(function(response) {
                if (response.authResponse) {
                var next_url = window.location.origin +  window.location.pathname;
                next_url = next_url.substring(0,next_url.lastIndexOf("/"));    
                window.location = next_url + '/login_fb' +
                            '?access_token=' + response.authResponse.accessToken +
                            '&expires=' + response.authResponse.expiresIn +
                            '&signed_request=' + response.authResponse.signedRequest +
                            '&user_id=' + response.authResponse.userID +
                            '&initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            '&birthdate=' + birthdate +
                            '&sex=' + sex +
                            '&email=' + email +
                            '&city=' + city;
                } else {
                    checkStatusCallback(response);
                }
            }, {scope: 'public_profile,email,user_friends', show_faces :true})
        };
        function IS_login(initiative_url){
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;

            var next_url = window.location.origin +  window.location.pathname;
            next_url = next_url.substring(0,next_url.lastIndexOf("/"));    
            window.location = next_url + '/login_IS' +
                            '?initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            '&birthdate=' + birthdate +
                            '&sex=' + sex +
                            '&email=' + email +
                            '&city=' + city;
        };
        function askWritingPermissions(initiative_url) {
            //$('#writingPermissionModal').modal('hide');
            var first_name = document.getElementById('id_first_name').value;
            var last_name = document.getElementById('id_last_name').value;
            var birthdate = document.getElementById('id_birthdate').value;
            var sex = document.getElementById('id_sex').value;
            var email = document.getElementById('id_email').value;
            var city = document.getElementById('id_city').value;

            FB.login(function(response) {
                console.log(initiative_url);
                if (response.authResponse) {
                   // var next_url = window.location.origin +  window.location.pathname;
                   var next_url = window.location.origin +  window.location.pathname;
                   next_url = next_url.substring(0,next_url.lastIndexOf("/")); 
                    window.location = next_url + '/write_permissions_fb' +
                            '?access_token=' + response.authResponse.accessToken +
                            '&expires=' + response.authResponse.expiresIn +
                            '&signed_request=' + response.authResponse.signedRequest +
                            '&user_id=' + response.authResponse.userID +
                            '&initiative_url=' + initiative_url +
                            '&first_name=' + first_name + 
                            '&last_name=' + last_name + 
                            '&birthdate=' + birthdate +
                            '&sex=' + sex +
                            '&email=' + email +
                            '&city=' + city;

                } else {
                    checkStatusCallback(response);
                }
            }, {scope: 'publish_actions'})
        };
        function checkStatusCallback(response) {
            if (response.status === 'connected') {
                var next_url = window.location.origin +  window.location.pathname;
                next_url = next_url.substring(0,next_url.lastIndexOf("/"));   
                $.ajax({
                    url: next_url + '/check_user' + '?user_id=' + response.authResponse.userID,
                    success: function(result) {
                        if (result) {
                            document.getElementById('status').className = 'alert alert-info';
                            document.getElementById('status').style.display = 'block';
                            document.getElementById('status').innerHTML = result;
                        } else {
                            document.getElementById('status').style.display = 'none';
                        }
                    }
                });
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').style.display = 'none';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').style.display = 'none';
            }
        }
    </script>

{% endblock %}

{% block main %}
<!-- Nav -->
   <nav id="nav">
       <ul class="container" style="max-width: none;">
          <li><a href="/">Inicio</a></li>
          <li><a href="/#tematicas">Temáticas</a></li>
          <li><a href="/#ideas_populares">Ideas Más Votadas</a></li>
          <li><a href="/#ideas_recientes">Ideas Recientes</a></li>
          <li><a href="/#organizan">Organizadores</a></li>
          <li><a href="/#contacto">Contacto</a></li>
       </ul>
   </nav>

    <!-- Contact -->
      <div class="wrapper style2 first">
        <article id="registro" class="container 75%">
          <h3> Ya tienes una cuenta?</h3>
          <div>
              <div class="row 100%">
                  <div class="12u">
                          <a class="btn btn-lg btn-primary" href="https://www.facebook.com/groups/979065645541360/" >
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/fb_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp; Ir al Grupo en FB
                          </a> &nbsp;&nbsp;

                         <a class="btn btn-lg btn-warning" href="http://participaentueducacion.ideascale.com/">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/is_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp; Ir a IdeaScale
                         </a>
                  </div>
              </div>
          </div>
          <br><br>

          <header>
            <h2>Formulario de Registro</h2>
            <p style="color: red; font-size: 1em;">Todos los campos son obligatorios.</p>
          </header>
          <div>
              <div class="12u">
                <form method="post" action="process_login" method="post" id="RegisterForm">
                  {% csrf_token %}
                  <div>
                    {% for field in form %}
                       <div class="row">
                          <div class="4u 12u(mobile)">
                              <label style="text-align: left; padding-top: 0.8em;">{{ field.label }}</label>
                          </div>
                          <div class="8u 12u(mobile)">
                              {% if field.label == "Fecha de Nacimiento" %}
                                 <input id="id_birthdate" name="birthdate" type="date" class="birthdate" placeholder="dd/mm/aaaa">
                              {% else %}
                                 {{ field }}
                              {% endif %}
                          </div>
                       </div>
                    {% endfor %}
                      <div class="row 100%">
                          <div class="6u">
                              <a class="button" id="register_btn" href="#openModal" style="width: 100%; margin-left: 0px; margin-right: 0px;"  onclick="validateForm();" >Registrarme</a>
                          </div>

                          <div class="6u">
                              <a class="button" id="cancel_btn" href="/" style="width: 100%; margin-left: 0px; margin-right: 0px;" >Cancelar</a>
                          </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </article>
      </div>

  <div class="wrapper style4" style="padding: 1em 5em 1em 5em; text-align: center; font-size: 70%;line-height: 1.1;">
          <div>
              <p style="margin-bottom:1em;">
                 Participa en tu Educación es una iniciativa del <a href="http://www.dei.uc.edu.py/proyectos/participa/" target="_blank">Proyecto Participa</a>
                 financiado por el Consejo Nacional de Ciencia y Tecnología de Paragua (CONACYT).
             </p>
              <p style="margin-bottom:1em;">
                 Los comentarios en el sitio son responsabilidad exclusiva de los participantes y no representan la opinió de las
                 instituciones organizadoras de la iniciativa.
              </p>
          </div>
  </div>


<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h3>Elige con qué plataforma ingresar</h3>
                    <div class="row 100%">
                      <div class="12u">
                          <a class="btn btn-lg btn-primary" href="javascript:;" role="button" onclick="startConnect('{{ initiative_url }}'); return false;">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/fb_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp;{% trans "Log in con Facebook" %}
                          </a> &nbsp;&nbsp;

                         <a class="btn btn-lg btn-warning" href="javascript:;" role="button" onclick="IS_login('{{ initiative_url }}'); return false;">
                             <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                   <img src="/static/img/is_icon.png" class="logo-icon"></img>
                             </span> &nbsp;&nbsp;{% trans "Log in con IdeaScale" %}
                         </a>
                   </div>
              </div>

	</div>
</div>

<div id="mailSent" class="modalDialog">
	<div>
		<!-- <a href="#close" title="Close" class="close">X</a> -->
		<h3>Gracias por Registrarse!</h3>
                   <p>En breve se le enviará un correo electrónico con un enlace de validación para completar su registro en la Iniciativa de IdeaScale.</p>
                    <div class="row 100%">
                      <div class="12u">

                         <a class="button" href="http://participaentueducacion.ideascale.com/">Aceptar
                         </a>
                   </div>
              </div>

	</div>
</div>

<div id="joinFB" class="modalDialog">
	<div>
		<!-- <a href="#close" title="Close" class="close">X</a> -->
		<h3>Gracias por Registrarse!</h3>
                   <p>No olvide unirse al grupo de facebook para poder participar.</p>
                    <div class="row 100%">
                      <div class="12u">

                         <a class="button" href="https://www.facebook.com/groups/979065645541360/">Aceptar
                         </a>
                   </div>
              </div>

	</div>
</div>


<div id="askWRperm" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h3>Gracias por Registrarse!</h3>
                   <p>Queremos solicitar tu permiso para publicar en tu nombre dentro de Facebook SOLAMENTE en el grupo de Participa en tu Educación.</p>
                   <p>No postearemos NUNCA en tu biografía ni en las de tus amigos.</p>
                   <p>Es un paso requerido para utilizar la aplicación. Puedes desactivar los permisos desde la sección Aplicaciones de tu Facebook.</p>
                    <div class="row 100%">
                      <div class="12u">

                         <a class="button" href="javascript:;" onclick="askWritingPermissions('{{ initiative_url }}');">Dar Permisos
                         </a>
                         <a class="button" href="#close">Cancelar
                         </a>

                   </div>
              </div>

	</div>
</div>





<div id="fb-root"></div>
<div class="modal fade" id="writingPermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social Ideation App</h4>
      </div>
      <div class="modal-body">
      {% trans "We are going to publish on your behalf" %} <b>{% trans "ONLY" %}</b> {% trans "inside the Facebook group associated to the initiative" %};
      {% trans "never on your wall nor on your friends' wall" %}.<br><br>
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <b>{% trans "Attention!" %}</b>
            <i>{% trans "Please make sure to select the option 'Public' from the dropdown menu of the following window, so all the members of the group can see your posts" %}.</i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="askWritingPermissions('{{ initiative_url }}'); return false;">{% trans "Ok" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1639456526287470',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });

        FB.getLoginStatus(function(response) {
            checkStatusCallback(response);
        });
        var wr_perm = getQueryVariable("wr_perm");
        if (wr_perm == 'True'){
            console.log("SI VOY A PEDIR WR_PERM WOHOOOOO");
            askWritingPermissions('{{ initiative_url }}');
        } else {
           console.log("no pido wr perm");
        }
    };

    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
                '//connect.facebook.net/es_ES/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());

</script>
{% endblock %}

